/*
    font-family: 'Roboto', sans-serif;
*/

.body__h1 {
    text-align: center;
    margin-top: 170px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body {
    background-color: peru;
}

.content {
    display: flex;
    justify-content: center;
    transform: scale(.5, 1);
    font-size: 170px;

}

.content__mychange1 {
    animation-duration: 1.5s;
    animation-name: myChange1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.content__mychange2 {
    animation-duration: 1.5s;
    animation-name: myChange2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes myChange1 {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 2);
    }
}

@keyframes myChange2 {
    0% {
        transform: scale(1, 2);
    }
    100% {
        transform: scale(1, 0);
    }
}